In [60]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [97]:
df = pd.read_csv(r'Data1.csv')

In [99]:
df.head(10)

,id,rooms,cost(₽),square(м²),cost_for_meter(₽),address,metro_name,distance(м),center_distance/m,floor,...,54,55,56,57,58,59,60,61,62,63
0,0,1 – комнатная,5000000.0,31.0,161290.3,"Центральная ул., 6",бульвар дмитрия донского,4995.0,20600.0,2,...,-0.006695,-0.234233,-0.147874,0.140280,-0.113396,0.034358,-0.175533,0.076761,-0.202186,-0.158597
1,1,1 комната,4500000.0,98.0,45918.4,"Коптевская ул., 28к2",коптево,420.0,11400.0,3,...,0.185037,0.159005,0.327853,0.030575,-0.258869,0.073926,-0.354773,-0.086634,-0.083417,-0.027566
2,2,1 – комнатная,10900000.0,36.1,301939.1,"15-я Парковая ул., 1/123 корп.2",измайловская,1680.0,10700.0,1,...,-0.115826,0.173254,0.280347,-0.127648,-0.436545,-0.039713,-0.283338,-0.348570,0.119591,-0.066971
3,3,1 комната,3650000.0,93.0,39247.3,"Матросская Тишина ул., 23/7",сокольники,1428.0,5400.0,4,...,0.251490,0.153655,0.246275,0.186168,-0.379997,0.182202,-0.079563,-0.630811,-0.306414,0.154063
4,4,доля (1/2),1200000.0,72.3,16597.5,"Центральная ул., 6",_MISSING_,0.0,0.0,1,...,0.325753,0.498971,0.450074,0.038922,-0.296475,0.086380,-0.134651,-0.157097,-0.181487,0.208396
5,5,1 – комнатная,6000000.0,33.0,181818.2,"Самаркандский б-р, 13К1",юго-восточная,840.0,13600.0,3,...,0.286182,-0.110860,0.086442,-0.065642,0.018298,-0.520613,-0.133160,-0.146747,-0.224584,-0.011557
6,6,1 – комнатная,5923976.0,33.9,174748.6,Рязановское ш.,_MISSING_,0.0,0.0,1,...,0.204405,0.188050,0.462935,-0.297568,-0.358789,-0.105872,0.059387,-0.179632,-0.224444,0.072705
7,7,3 – комнатная,35000000.0,64.0,546875.0,"2-я Брестская ул., 37с1",белорусская,252.0,3600.0,5,...,0.191646,1.248115,-0.004635,-0.748503,-0.263644,0.298772,0.763621,-1.039261,-0.189834,0.078117
8,8,2 – комнатная,8130000.0,58.2,139690.7,"Подмосковная ул., 3",котельники,13320.0,17400.0,14,...,0.474263,0.391412,0.076815,0.007576,-0.082334,-0.140947,-0.596532,-0.084088,-0.344419,0.132865
9,9,1 – комнатная,5300000.0,34.4,154069.8,"Курыжова (Южный мкр.) ул., 25",_MISSING_,0.0,0.0,2,...,0.318497,0.405799,-0.124932,-0.153937,-0.734213,0.120398,-0.176571,-0.344680,-0.084207,0.180652

In [100]:
Rdf=df["rooms"]
Mdf=df["metro_name"]

In [101]:
labelencoder = LabelEncoder()
data_R= labelencoder.fit_transform(Rdf.values)
data_M = labelencoder.fit_transform(Mdf.values)

In [104]:
Rooms_encoders = pd.DataFrame(data = data_R)
Rooms_encoders.columns=['Rooms_encoders']
Metro_encoders = pd.DataFrame(data = data_M)
Metro_encoders.columns=['Metro_encoders']

In [105]:
Rooms_encoders

        Rooms_encoders
0                    1
1                    0
2                    1
3                    0
4                   29
...                ...
100718               8
100719               8
100720               5
100721               2
100722               2

[100723 rows x 1 columns]

In [106]:
Metro_encoders.head (10)

   Metro_encoders
0             306
1             963
2             794
3            2768
4              20
5            3339
6              20
7             280
8            1069
9              20

In [107]:
#конкатенация
Data = pd.concat([df, Rooms_encoders,Metro_encoders], axis=1)
Data.head(2)

,id,rooms,cost(₽),square(м²),cost_for_meter(₽),address,metro_name,distance(м),center_distance/m,floor,...,56,57,58,59,60,61,62,63,Rooms_encoders,Metro_encoders
0,0,1 – комнатная,5000000.0,31.0,161290.3,"Центральная ул., 6",бульвар дмитрия донского,4995.0,20600.0,2,...,-0.147874,0.140280,-0.113396,0.034358,-0.175533,0.076761,-0.202186,-0.158597,1,306
1,1,1 комната,4500000.0,98.0,45918.4,"Коптевская ул., 28к2",коптево,420.0,11400.0,3,...,0.327853,0.030575,-0.258869,0.073926,-0.354773,-0.086634,-0.083417,-0.027566,0,963

In [108]:
Data=Data.drop(['metro_name',"rooms","address","id"],axis=1)#Удаляю столбец с предобработкой текста

In [112]:
Data.head(2)

,cost(₽),square(м²),cost_for_meter(₽),distance(м),center_distance/m,floor,floors,0,1,2,...,56,57,58,59,60,61,62,63,Rooms_encoders,Metro_encoders
0,5000000.0,31.0,161290.3,4995.0,20600.0,2,4,0.241931,-0.110102,0.067413,...,-0.147874,0.140280,-0.113396,0.034358,-0.175533,0.076761,-0.202186,-0.158597,1,306
1,4500000.0,98.0,45918.4,420.0,11400.0,3,5,0.213614,0.212638,0.245766,...,0.327853,0.030575,-0.258869,0.073926,-0.354773,-0.086634,-0.083417,-0.027566,0,963

In [114]:
Data.to_csv(r'Data2.csv',index=False)

In [119]:
#Нормировка:

# импортирую preprocessing библиотеки sklearn
from sklearn.preprocessing import StandardScaler
 
# создаю объект этого класса
scaler = StandardScaler()
 
# привожу данные к единому масштабу 
Data_scaled = scaler.fit_transform(Data)
 
# заново создыю датафрейм с нормализованными значениями
Data_df = pd.DataFrame(Data_scaled, columns = Data.columns.values)
 
# первые пять строк
Data_df.head(-5)

,cost(₽),square(м²),cost_for_meter(₽),distance(м),center_distance/m,floor,floors,0,1,2,...,56,57,58,59,60,61,62,63,Rooms_encoders,Metro_encoders
0,-0.362177,-0.666398,-0.726107,1.204758,1.900388,-0.837349,-1.208992,0.129425,-0.097668,-0.783436,...,-0.711396,1.171132,0.666168,0.195755,-0.175990,1.116344,-0.122182,-1.030959,-0.907847,-0.920904
1,-0.370833,0.748134,-1.220166,-0.150021,0.607209,-0.715350,-1.117959,0.037905,1.006640,-0.200815,...,0.805481,0.820129,0.228514,0.320644,-0.764835,0.595481,0.282991,-0.603640,-1.075255,-0.352306
2,-0.260028,-0.558724,-0.123804,0.223099,0.508815,-0.959349,-0.753825,-0.985755,0.616678,-0.021779,...,0.654004,0.313890,-0.306025,-0.038041,-0.530154,-0.239507,0.975542,-0.732148,-0.907847,-0.498566
3,-0.385550,0.642572,-1.248734,0.148475,-0.236168,-0.593350,-1.117959,-0.409329,2.408114,1.164869,...,0.545364,1.317953,-0.135899,0.662400,0.139297,-1.139223,-0.477750,-0.011309,-1.075255,1.209826
4,-0.427967,0.205545,-1.345728,-0.274394,-0.995208,-0.959349,-1.391059,0.483019,-1.402461,-0.009628,...,1.195188,0.846834,0.115374,0.359952,-0.041681,0.370863,-0.051570,0.165882,3.779560,-1.168422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100713,-0.246904,-0.121697,-0.537873,0.288246,1.914444,0.992643,-0.025559,0.280101,0.298575,-1.250810,...,-0.024703,0.748426,0.504919,-0.184980,0.598250,0.006446,1.009553,0.713352,-0.238218,1.363010
100714,-0.065945,-0.123809,0.253073,-0.101456,-0.137774,-0.715350,-1.117959,-0.293135,0.877510,0.362483,...,0.506632,0.166349,-0.147934,1.130246,0.388467,0.787214,-0.709747,-0.578629,0.264004,-1.158902
100715,-0.309544,-0.142810,-0.799780,-0.121297,0.354196,-0.959349,-1.117959,0.063250,-0.613620,0.143733,...,0.177477,-0.501527,-0.578744,-0.466330,-0.480824,-0.669968,-0.234960,0.604568,-0.238218,0.711328
100716,-0.322672,-0.575614,-0.533443,0.051345,0.944560,-0.715350,-0.116592,-0.067789,-0.027248,-0.319589,...,-0.556106,0.511516,-0.183973,-1.253375,0.190412,-0.197299,0.158867,0.128617,-0.740440,-0.942541
100717,-0.332744,-0.674843,-0.479170,-0.176672,0.508815,-0.837349,-1.117959,0.461970,-0.790981,0.447377,...,0.172483,-0.386258,-0.299088,-0.319817,-0.113461,-0.620473,-0.209829,0.508030,-0.740440,-0.498566

In [120]:
Data_df.to_csv(r'Data.csv',index=False)